.settings-container {
  color: rgb(85, 85, 85);
  background-color: white;
  border-radius: 1em;
}

.settings-container img {
  height: 30px;
  width: 30px;
}

.settings-container .input {
}

.settings-container .rank-slider {
  height: 30px;
  width: 30px;
}

.settings-container .add-pfp {
  border: 1px dashed black;
  margin-top: 5px;
}

.select-img{
  object-fit: contain;
  height: 60px;
  width:auto;
}