.profile-card {
  height: 80vh;
  max-height: 900px;
  width: 80vw;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

.profile-card .card {
  border-radius: 1rem;
  box-shadow: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.profile-card .card::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 64%;
  bottom: 0;
  /* z-index: 1; */
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.profile-card .card .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-card .card .content {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  width: 100%;
  color: #ffffff;
}

.profile-card .card .buttons {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  width: 100%;
  color: #ffffff;
}


